# Godot
export.cfg
export_presets.cfg
.godot/imported/
.godot/mono/
.godot/shader_cache/
.godot/editor/
.godot/*cache.bin
.godot/*cache.cfg
.godot/uid_cache.bin

# .NET / C#
bin/
obj/

# IDE
.vscode/
.vs/
.idea/
*.user
*.suo

# tmp and logs
*.tmp
*.log
*.pidb
*.pdb
*.mdb
